
@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/main');
    </script>
}
<title-app class="titlelistcontent">
    <div class="waitloading">
        loading...
    </div>
</title-app>